<%# all_youtube_videos = ["G3VH6nSqh6s","1piQIsxto9o","fvj6zdWLUuk","ZE4wjGp-80A","eMscTHPaXmc","YCh0gQrX3UY"] %>
<% youtube_video_sets = [["eMscTHPaXmc", "YCh0gQrX3UY", "QHXxIZdFO-E","1piQIsxto9o"],
                         ["KFsGnePc2ko", "m3HSvnPrUBI", "SE9TfA5KEc8"]] %>

<center>
	<div style="width: 800px; padding-top:20px">
	<% youtube_video_sets.each do |vid_sets| %>
		<% vid_sets = vid_sets.sample(vid_sets.size) %>
		<div style="float:left; width: 400px">
			<iframe class="youtube-player" type="text/html" width="400" height="250" src="http://www.youtube.com/embed/<%= vid_sets.first %>?version=3&playlist=<%= vid_sets.last(vid_sets.size-1).join(',') %>&autoplay=1&rel=0&border=0&autohide=1&controls=0&loop=1&sound=0" frameborder="0">
			</iframe>
		</div>
	<% end %>
	<div style="clear:both">
	</div>
	<div style="width: 800px; padding-top:20px">
		<div style="float:left; width: 500px">
			<div id="fb-root"></div>
			<script>(function(d){
			  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			  js = d.createElement('script'); js.id = id; js.async = true;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			  d.getElementsByTagName('head')[0].appendChild(js);
			}(document));</script>
			<div class="fb-comments" data-href="where911.com" data-num-posts="20" data-width="500"></div>
		</div>
		<div style="float:left; padding-left: 50px; width: 250px; ">
			<div>
				<a href="<%= url_for :controller => :main, :action => :tok %>" style="text-decoration:none">
					<div class="button">
						Record video message
					</div>
				</a>
			</div>
			<div style="padding-top: 50px">
				<a href="<%= url_for :controller => :main, :action => :sms %>" style="text-decoration:none">
					<div class="button" >
						Send a text message!
					</div>
				</a>				 
			</div>
			<div>
				
				<% @videos.each do |video|%>

					<div >
						<span class="framey_video_thumbnail">
						<a href="<%= framey_video_path(video.name)%>">	
						<%= image_tag video.medium_thumbnail_url%>
						</a>
						</span>
				<%end%>
			</div>
		</div>
		<div style="clear:both">
	</div>
</center>
	

